.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid #ADB5BD;
}
.navbar .nav_logo{
    font-size: 30px;
    font-weight: 500;
}
.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 30px;
    font-size: 20px;
    color: black;
}
.navbar ul li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    cursor: pointer;
}
.navbar li hr{
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: #AE2012;
}
.nav_login_cart{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav_login_cart button{
    width: 100px;
    height: 50px;
    outline: none;
    border: 1px solid grey;
    border-radius: 75px;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
}
.nav_login_cart button:hover{
    background: grey;
}
.nav_cart_count{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: -55px;
    border-radius: 11px;
    font-size: 14ppx;
    background: #AE2012;
    color: white;
}

@media (max-width: 900px){
    .nav_logo{
        display: none;
    }
    .nav_login_cart button{
        width: 60px;
    }
    .navbar ul{
        font-size: 15px;
        gap: 15px;
    }
}